
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

canvas {
    border: 1px solid black;
  }
  
  .buttons {
    width: 224px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  button {
    width:70px;
    height: 30px;
    border: 1px solid rgba(66, 66, 66, 0);
  }
  
  .primary {
    background-color: #66bb6a;
  }
  
  .warn {
    background-color: #ef5350;
  }